<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<div align="center">
          <img src="/images/logo1.jpg" alt="Logo" width="150" >
          <h1 style="color: blue"><i>Intelligent Tourist Guide</i></h1>
        </div>
	<h1 align="center"> User List</h1>  
	<a href="/admin">Back</a>|
	<a href="/logout">logout</a>

	<br><br>
	<div>Search:<input type="text" placeholder="Search....!" name="search"></div>
	<table border="1" width="100px" align="center">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>User Name</th>
			<th>Action</th>
		</tr>
		<% for(var i=0; i < uList.length; i++){ %>
		<tr>
			<td><%= uList[i].id %></td>
			<td><%= uList[i].name %></td>
			<td><%= uList[i].username %></td>
			<td>
				<a class="but1"href="/admin/edit/<%=uList[i].id%>"> EDIT</a> |
				<a class="but2"href="/admin/delete/<%=uList[i].id%>"> DELETE</a>
			</td>
		</tr>
		<% } %>
	</table>
</body>
</html>